:root[color-mode="light"] {
    --surface: #FFF8E1;
    --primary: #ECEFF1;
    --secondary: #63a4ff;
    --border: lightgray;
    --shadow: gray;
    --text: black;
    --type-fire: #ff6659;
    --type-water: #5eb8ff;
    --type-light: #fff263;
    --type-dark: #ae52d4;
    --type-wind: #6abf69;

    --color-mode-icon: url("./img/sun.svg");
    --color-mode-icon-offset: 28px;
}

:root[color-mode="dark"] {
    --surface: #121212;
    --primary: #263238;
    --secondary: #01579B;
    --border: gray;
    --shadow: #121212;
    --text: white;
    --type-fire-text: #EF9A9A;
    --type-water-text: #90CAF9;
    --type-light-text: #FFF59D;
    --type-dark-text: #CE93D8;
    --type-wind-text: #A5D6A7;

    --color-mode-icon: url("./img/moon.svg");
    --color-mode-icon-offset: 6px;
}

:root[color-mode="dark"] a {
    color: var(--type-water-text);
}

body{
    margin: 0;
    height: 100vh;
    background-color: var(--surface);
    display:flex; 
    flex-direction:column;
}

.menu {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--surface); color: var(--text);
    font-size: 24px; font-weight: bold;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 12px;
}

#color-mode-switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
}

#color-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: var(--secondary);
    background-image: var(--color-mode-icon);
    background-position: var(--color-mode-icon-offset);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px; width: 18px;
    left: 4px; bottom: 4px;
    border-radius: 50%;
    background-color: var(--surface);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.main-container {
    padding: 12px; margin-top: 64px;
    display: flex; flex-wrap: wrap;
    justify-content: left;
}

#filter-panel {
    margin-right: 16px;
    background-color: var(--primary); color: var(--text);
    box-shadow: .1rem .1rem .15rem var(--shadow);
    height: max-content;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    padding: 12px;
}

li:last-child {
    display: flex;
    justify-content: center;
}

.main-container label {
    display: block;
    margin-bottom: 4px;
}

.tag {
    display: flex;
}

svg {
    height: 20px; width: 20px;
    margin-left: 4px;
    cursor: pointer;
    stroke: var(--text);
}

input {
    width: 72px;
}

#recruit-hour {
    width: 24px;
}

#recruit-minute {
    width: 32px;
}

#filterBtn {
    width: 100%;
    height: min-content;
    font-size: 18px;
}

table {
    background-color: var(--primary); color: var(--text);
    border-collapse: collapse;
    text-align: left;
    box-shadow: .1rem .1rem .15rem var(--shadow);
    min-width: 400px;
}

th {
    color: var(--text);
    padding: 8px;
    cursor: pointer;
    font-weight: normal;
}

.asc:after{
    content: ' \25B2';
}

.desc:after{
    content: ' \25BC';
}

td {
    border-top: 1px solid var(--border);
    padding: 10px;
}

.火屬性 {
    background-color: var(--type-fire); color: var(--type-fire-text);
}

.水屬性 {
    background-color: var(--type-water); color: var(--type-water-text);
}

.光屬性 {
    background-color: var(--type-light); color: var(--type-light-text);
}

.闇屬性 {
    background-color: var(--type-dark); color: var(--type-dark-text);
}

.風屬性 {
    background-color: var(--type-wind); color: var(--type-wind-text);
}

footer {
    border-top: 1px solid var(--primary);
    margin-top:auto;
    padding: 20px;
    min-height:40px
}

@media screen and (max-width:800px) {
    .main-container {
        justify-content: center;
    }

    #filter-panel {
        margin: 8px;
    }

    li {
        display: inline-block;
    }

    #result-container {
        margin: 8px;
    }
}